{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/supplier.css' %}">
<link rel="stylesheet" href="{% static 'css/buttonD.css' %}">
{% endblock %}
{% block title %}Eliminar Proveedor | Floristería{% endblock %}

{% block content %}
    <h1>Eliminar Proveedor</h1>
    <div class="centered-box">
        <p>¿Estás seguro de que quieres eliminar al proveedor "{{ supplier.name_supplier }}"?</p>
        <form method="post" class="delete-confirmation-form">
            {% csrf_token %}
            <div class="delete-confirm-button">
                <button type="submit" class="button-delete">
                    <span class="button__text">Eliminar</span>
                    <span class="button__icon"><i class="fa-solid fa-trash"></i></span>
                </button>
            </div>
            <div class="back-button">
                <button type="button" class="button-delete" onclick="location.href='{% url 'supplier_list' %}'">
                    <span class="button__text">Volver</span>
                    <span class="button__icon"><i class="fa-solid fa-rotate-left"></i></span>
                </button>
            </div>
        </form>
    </div>
{% endblock %}
