{% extends 'base.html' %}
{% load static %}

{% block extra_css %}<link rel="stylesheet" href="{% static 'css/supplier.css' %}">{% endblock %}
{% block title %}Detalle del Proveedor | Floristería{% endblock %}

{% block content %}
<div class="container">
    <h1>Detalle del Proveedor: {{ supplier.name_supplier }}</h1>
    <div class="supplier-detail-card">
        <p><strong>Nombre del Proveedor:</strong> {{ supplier.name_supplier }}</p>
        <p><strong>Descripción:</strong> {{ supplier.description_supplier }}</p>
        <p><strong>Teléfono:</strong> {{ supplier.phone_supplier }}</p>
        <p><strong>País:</strong> {{ supplier.country_supplier }}</p>
        <p><strong>Correo Electrónico:</strong> {{ supplier.mail_supplier }}</p>
        <p><strong>Dirección:</strong> {{ supplier.address_supplier }}</p>
    </div>
    <div class="supplier-actions detail-actions">
        <a href="{% url 'supplier_update' supplier.pk %}" class="action-button edit-button">Editar</a>
        <a href="{% url 'supplier_delete' supplier.pk %}" class="action-button delete-button">Eliminar</a>
        <a href="{% url 'supplier_list' %}" class="back-button">Volver a la lista</a>
    </div>
</div>
{% endblock %}