{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
<link rel="stylesheet" href="{% static 'css/flower.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/css/intlTelInput.css" integrity="sha512-gxWow8Mo6q6pLa1XH/CcH8JyiSDEtiwJV78E+D+QP0EVasFs8wKXq16G8CLD4CJ2SnonHr4Lm/yY2fSI2+cbmw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}
{% block title %}Pagina Proveedor | Floristería{% endblock %}

{% block content %}
<h1>{% if supplier.pk %}Editar{% else %}Agregar{% endif %} Datos del Proveedor</h1>
<div class='container-button'>
    <div class="wrapper">
        <button type="button" class="btn" onclick="location.href='{% url 'supplier_list' %}'">
            <span class="button__text">Volver</span>
            <span class="button__icon"><i class="fa-solid fa-rotate-left"></i></span>
        </button>
        {% include 'button.html' %}
    </div>
</div>
<div class="form-container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-wrapper">
            <div class="form-column">
                <div class="form-group">
                    <label for="name">Nombre del Proveedor:</label>
                    <input type="text" id="name" name="name_supplier" pattern="^(?!\d+$).{3,100}$" maxlength="100" minlength="3" value="{{ supplier.name_supplier }}" placeholder="..." required="">
                </div>
                <div class="form-group">
                    <label for="phone_supplier">Teléfono:</label>
                    <input type="tel" name="phone_supplier" id="phone_supplier" value="{{ supplier.phone_supplier }}" placeholder="Phone No" class="input form-control" autocomplete="off" required="">
                    <div id="phone-error" class="text-danger"></div>
                    {{ form.phone_supplier.errors }}
                    {% if form.phone_supplier.errors %}
                        <div class="text-danger">
                        {{ form.phone_supplier.errors.0 }}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="country_supplier">País:</label>
                    <input type="text" id="country_supplier" name="country_supplier" pattern="^(?!\d+$).{3,100}$" maxlength="100" minlength="3" value="{{ supplier.country_supplier }}" placeholder="..." required="">
                </div>
                <div class="form-group">
                    <label for="mail_supplier">Correo: </label>
                    <input type="email" class="form-control" id="mail_supplier" placeholder="..." name="mail_supplier" maxlength="100" minlength="5" value="{{ supplier.mail_supplier }}" required="">
                    {% if form.mail_supplier.errors %}
                        <div class="text-danger">
                        {{ form.mail_supplier.errors.0 }}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="form-column">
                <div class="form-group">
                    <label for="textarea">Descripción:</label>
                    <textarea name="description_supplier" id="description_supplier" rows="10" cols="50" pattern="^(?!\d+$).{10,500}$" placeholder="..." required="">{{ supplier.description_supplier }}</textarea>
                </div>
                <div class="form-group">
                    <label for="textarea">Dirección:</label>
                    <textarea name="address_supplier" id="address_supplier" rows="10" cols="50" pattern="^(?!\d+$).{10,500}$" placeholder="..." required="">{{ supplier.address_supplier }}</textarea>
                </div>
            </div>
        </div>
        <div class='form-actions'>
            <div class="wrapper">
                <button type="submit" id="guardar-btn" class="btn">
                    <span class="button__text">Guardar</span>
                    <span class="button__icon"><i class="fa-solid fa-floppy-disk"></i></span>
                </button>
                {% include 'button.html' %}
            </div>
        </div>
    </form>
</div>
{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/js/intlTelInput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/js/utils.js"></script>
<script src="{% static 'js/phone.js' %}"></script>
{% endblock %}
{% endblock %}