{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/employee.css' %}">
<link rel="stylesheet" href="{% static 'css/buttonD.css' %}">
{% endblock %}
{% block title %}Página Trabajadores | Floristería{% endblock %}

{% block content %}
<h1>TRABAJADOR</h1>
<div class="container mt-4 justify-content-around">
    <div class="row  justify-content-center">
        <!-- Columna izquierda: Imagen actual -->
        <div class="col-md-4 mt-3" style="max-width: 400px;">
          <div class="form-group">
            {% if employee.imagen_employee %}
              <img src="{{ employee.imagen_employee.url }}" class="imagen-empleado">
            {% else %}
              <p>No hay imagen cargada.</p>
            {% endif %}
          </div>
        </div>

        <!-- Columna derecha: Datos del trabajador -->
        <div class="col-md-4 justify-content-around" style=" max-width: 300px;">
          <div class="form-group mt-3">
            <strong>Nombre: </strong>{{ employee.name_employee }}
          </div>
          <div class="form-group">
            <strong>Apellido: </strong>{{ employee.surname_employee }}
          </div>
          <div class="form-group">
            <strong>Correo: </strong>{{ employee.mail_employee }}
          </div>
          <div class="form-group">
            <strong>Cédula: </strong>{{ employee.card_employee }}
          </div>
          <div class="form-group">
            <strong>Código: </strong=>{{ employee.code_employee }}
          </div>
          <div class="form-group">
              <strong for="imagenEmployee">Imagen: </strong>{{ employee.imagen_employee }}
          </div>
        </div>
    </div>
    <div class="d-flex justify-content-around mt-4">
        <button type="button" class="button-delete" onclick="location.href='{% url 'employee_list' %}'">
            <span class="button__text">Volver</span>
            <span class="button__icon"><i class="fa-solid fa-rotate-left"></i></span>
        </button>     
    </div>
</div>
{% endblock %}