{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/employee.css' %}">
<link rel="stylesheet" href="{% static 'css/image.css' %}">
{% endblock %}
{% block title %}Página Principal | Floristería{% endblock %}

{% block content %}
  <div class="container text-center mt-4">
      <h1>{% if employee.pk %}ACTUALIZAR DATOS DEL TRABAJADOR{% else %}AGREGAR TRABAJADOR{% endif %}</h1>
  </div>

  <div class="container mt-2"  >
    <form  method="post" enctype="multipart/form-data" class="image-upload-form">
    {% csrf_token %}
      <div class="form-group mt -5">
        <label for="Nombre">Nombre : </label>
        <input type="text" class="form-control" id="NombreEmpleado" placeholder="Ingrese Nombre" name="name_employee" pattern="^[A-Za-zÁÉÍÓÚáéíóúÑñ\s]{3,100}$" maxlength="100" minlength="3" value="{{ employee.name_employee }}" required="">
      </div>

      <div class="form-group mt -5">
        <label for="Nombre">Apellido : </label>
        <input type="text" class="form-control" id="ApellidoEmpleado" placeholder="Ingrese Apellido" name="surname_employee" pattern="^[A-Za-zÁÉÍÓÚáéíóúÑñ\s]{3,100}$" maxlength="100" minlength="3" value="{{ employee.surname_employee }}" required="">
      </div>

      <div class="form-group">
        <label for="correo">Correo : </label>
        <input type="email" class="form-control" id="correo_empleado" placeholder="Ingrese el Correo Electronico" name="mail_employee" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" maxlength="100" minlength="5" value="{{ employee.mail_employee }}" required="">
      </div>

      <div class="form-group">
        <label for="cedula">Cedula : </label>
        <input type="text" class="form-control" id="cedula_empleado" placeholder="Ingrese cedula" name="card_employee" pattern="\d{10}" maxlength="10" minlength="10" value="{{ employee.card_employee }}" required="" oninput="this.value = this.value.replace(/[^0-9]/g, '');">
      </div>

      <div class="form-group">
        <label for="codEmployee">Codigo del Empleado : </label>
        <input type="text" class="form-control" id="codigo_empleado" placeholder="Ingrese codigo empleado" name="code_employee" pattern="^[A-Za-z0-9\-]{4,10}$" maxlength="10" minlength="4" value="{{ employee.code_employee }}" required="">
      </div>

      <div class="form-group">
        <label for="imagen_empleado">Imagen : </label>
        <div class="actions">
            <label for="file" class="upload">
                Elegir archivo
                <input hidden type="file" id="file" name="imagen_employee" accept="image/*" class="file-input">
                <img class="preview" src="{% if employee.pk %}{{ employee.imagen_employee.url }}{% endif %}" />
            </label>
        </div>
        <div class="error-msg"></div>
      </div>

      <div class="d-flex justify-content-around">
        <button type="submit" class="btn btn-success "> Guardar </button>
        <a href="{% url 'employee_list' %}" class="btn btn-danger "> Cancelar </a>
      </div>  

    </form>
  </div>
{% block extra_js %}<script src="{% static 'js/form.js' %}"></script>{% endblock %}
{% endblock %}