{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/image.css' %}">
<link rel="stylesheet" href="{% static 'css/flower.css' %}">
{% endblock %}
{% block title %}Página Principal | Floristería{% endblock %}

{% block content %}
<h1>{% if employee.pk %}ACTUALIZAR DATOS DEL TRABAJADOR{% else %}AGREGAR TRABAJADOR{% endif %}</h1>
<div class='container-button'>
    <div class="wrapper">
        <button type="button" class="btn" onclick="location.href='{% url 'employee_list' %}'">
            <span class="button__text">Volver</span>
            <span class="button__icon"><i class="fa-solid fa-rotate-left"></i></span>
        </button>
        {% include 'button.html' %}
    </div>
</div>
<div class="container mt-2"  >
  <form  method="post" enctype="multipart/form-data" class="image-upload-form" data-is-edit="{% if employee.pk %}true{% else %}false{% endif %}">
  {% csrf_token %}
    <div class="form-group mt -5">
      <label for="Nombre">Nombre : </label>
      <input type="text" class="form-control" id="NombreEmpleado" placeholder="Ingrese Nombre" name="name_employee" pattern="^[A-Za-zÁÉÍÓÚáéíóúÑñ\s]{3,100}$" maxlength="100" minlength="3" value="{{ employee.name_employee }}" required="">
    </div>

    <div class="form-group mt -5">
      <label for="Nombre">Apellido : </label>
      <input type="text" class="form-control" id="ApellidoEmpleado" placeholder="Ingrese Apellido" name="surname_employee" pattern="^[A-Za-zÁÉÍÓÚáéíóúÑñ\s]{3,100}$" maxlength="100" minlength="3" value="{{ employee.surname_employee }}" required="">
    </div>

    <div class="form-group">
      <label for="correo">Correo : </label>
      <input type="email" class="form-control" id="correo_empleado" placeholder="Ingrese el Correo Electronico" name="mail_employee" maxlength="100" minlength="5" value="{{ employee.mail_employee }}" required="">
      {% if form.mail_employee.errors %}
        <div class="text-danger">
          {{ form.mail_employee.errors.0 }}
        </div>
      {% endif %}
    </div>

    <div class="form-group">
      <label for="cedula">Cedula : </label>
      <input type="text" class="form-control" id="cedula_empleado" placeholder="Ingrese cedula" name="card_employee" pattern="\d{10}" maxlength="10" minlength="10" value="{{ employee.card_employee }}" required="" oninput="this.value = this.value.replace(/[^0-9]/g, '');">
      {% if form.card_employee.errors %}
        <div class="text-danger">
          {{ form.card_employee.errors.0 }}
        </div>
      {% endif %}
    </div>

    <div class="form-group">
      <label for="codEmployee">Codigo del Empleado : </label>
      <input type="text" class="form-control" id="codigo_empleado" placeholder="Ingrese codigo empleado" name="code_employee" pattern="^[A-Za-z0-9\-]{4,10}$" maxlength="10" minlength="4" value="{{ employee.code_employee }}" required="">
      {% if form.code_employee.errors %}
        <div class="text-danger">
          {{ form.code_employee.errors.0 }}
        </div>
      {% endif %}
      
    </div>

    <div class="form-group">
      <label for="imagen_empleado">Imagen : </label>
      <div class="actions">
          <label for="file" class="upload">
              Elegir archivo
              <input hidden type="file" id="file" name="imagen_employee" accept="image/*" class="file-input">
              <img class="preview" src="{% if employee.pk %}{{ employee.imagen_employee.url }}{% endif %}" />
          </label>
      </div>
      <div class="error-msg"></div>
    </div>
    <br />
    <div class="d-flex justify-content-around">
        <div class="wrapper">
            <button type="submit" id="guardar-btn" class="btn">
                <span class="button__text">Guardar</span>
                <span class="button__icon"><i class="fa-solid fa-floppy-disk"></i></span>
            </button>
            {% include 'button.html' %}
        </div>
    </div>  
  </form>
</div>
{% block extra_js %}<script src="{% static 'js/form.js' %}"></script>{% endblock %}
{% endblock %}