{% extends 'base.html' %}
{% load static %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'css/employee.css' %}">{% endblock %}
{% block title %}Página Trabajadores | Floristería{% endblock %}

{% block content %}
<h1>Actualizar Datos Del Trabajador</h1>
<div class="container mt-4 justify-content-around">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row  justify-content-center">
      <!-- Columna izquierda: Imagen actual -->
      <div class="col-md-4 mt-3" style="max-width: 400px;">
        <div class="form-group">
          {% if employee.imagen_employee %}
            <img src="{{ employee.imagen_employee.url }}" class="imagen-empleado">
          {% else %}
            <p>No hay imagen cargada.</p>
          {% endif %}
        </div>
      </div>

      <!-- Columna derecha: Campos del formulario -->
      <div class="col-md-4 justify-content-around" style=" max-width: 300px;">
        <div class="form-group mt-3">
          <label for="Nombre">Nombre: </label>
          {{ employee.name_employee }}
          {{ employee.name_employee.errors }}
        </div>

        <div class="form-group">
          <label for="Apellido">Apellido:</label>
          {{ employee.surname_employee }}
          {{ employee.surname_employee.errors }}
        </div>

        <div class="form-group">
          <label for="correo">Correo  : </label>
          {{ employee.mail_employee }}
          {{ employee.mail_employee.errors }}
        </div>

        <div class="form-group">
          <label for="cedula">Cédula  : </label>
          {{ employee.card_employee }}
          {{ employee.card_employee.errors }}
        </div>

        <div class="form-group">
          <label for="codEmployee">Código  : </label>
          {{ employee.code_employee }}
          {{ employee.code_employee.errors }}
        </div>

        <div class="form-group">
            <label for="imagenEmployee">Imagen Seleccionada : </label>
            {{ employee.imagen_employee }}
            {{ employee.imagen_employee.errors }}
          
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-around mt-4">
          <button type="submit" class="btn btn-success">Aceptar</button>
          <a href="{% url 'employee_list' %}" class="btn btn-danger">Cancelar</a>        
        </div>
  </form>
</div>
{% endblock %}