.container_static{
    display: grid;
    height: 110%;
    grid-template-rows: 0.2fr;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.container_dinamic {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    margin: 3%;
}

.item_1 h3 {
    margin-bottom: 15px;
    font-size: 1.5rem;
    text-align: left;
}
  
.item_1 p {
    color: #333;
    line-height: 1.6;
    font-size: 1.5rem;
}

.item_1 img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #ccc;
}

.item_2 {
    display: grid;
    grid-template-rows: 0.1fr;
}
