header {
    justify-content: center;
    align-content: center;
    border-bottom: 1px solid #ddd;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.logo {
    background-color: #ABE4FF; /* Fondo rosado */
    width: 100%;
    text-align: center;
    padding: 3px 0px;
}

.menu {
    background-color: #FFABAB;
    width: 100%;
    padding: 22px 0px;
    border-bottom: 1px solid #ddd;
    height: 60px;
    text-align: center;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: #333;
    margin: 10px 10px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}
  
nav a:hover {
    color: #007BFF;
}
 
@media (max-width: 768px) {
    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
  
    nav a {
        margin: 5px 5px;
    }

    .menu {
        height: 90px;
        text-align: center;
        justify-content: center;
        padding: 20px 0px;
    }
}