.team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.team-member {
    position: relative;
    overflow: hidden;
    background-color: #FFFFFF;
    border: 1px solid var(--color-borde-suave);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    padding: 1em;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.member-info .price {
    color: var(--color-acento); /* Amarillo dorado */
    font-weight: bold;
}

.card-actions {
    position: absolute;
    bottom: 15px;  /* separación desde abajo */
    right: 15px;   /* separación desde la derecha */
    display: flex;
    gap: 10px; /* espacio entre iconos */
}

.card-actions i {
    color: var(--color-secundario);
}

.team-member:hover {
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.1);
    transform: translateY(-4px);
}

.member-image {
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.member-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.team-member:hover .member-image img {
    transform: scale(1.1);
}

.member-info {
    padding: 20px;
}

.member-info h3 {
    text-align: center;
    font-size: 1.5rem;
    margin: 0 0 10px 0;
    color: var(--color-principal);
    font-weight: bold;
}

.member-info h4 {
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-principal);
    margin: 0 0 15px 0;
}

.member-info p {
    font-size: 0.9rem;
    line-height: 1.6;
    color: var(--color-texto);
}

/* Diseño responsivo */
@media (max-width: 768px) {
    .team-grid {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        padding: 15px;
    }
    
    .page-title {
        font-size: 2rem;
        margin: 20px 0;
    }
}

@media (max-width: 480px) {
    .team-grid {
        grid-template-columns: 1fr;
    }
    
    .member-image {
        height: 200px;
    }
}