:root {
    /* Colores principales */
    --color-principal: #F88379;      /* Rosa coral suave */
    --color-secundario: #A8C3A2;     /* Verde salvia */
    --color-fondo: #FFF8F0;          /* Marfil claro */
    --color-acento: #FFD97D;         /* Amarillo dorado */

    /* Neutros */
    --color-texto: #333333;          /* Gris antracita */
    --color-borde-suave: #DDDDDD;    /* Gris claro */
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    color: var(--color-texto);
    background-color: var(--color-fondo);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Montserrat', Arial, sans-serif;
    padding-top: 150px;
    font-family: 'Lora', serif;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
  
main {
    flex: 1;
}

h1 {
    text-align: center;
    margin: 20px 50px;
    text-transform: uppercase;
    padding: 15px;
    border-radius: 10px;
    letter-spacing: 2px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    font-size: 2em;
    font-weight: bold;
    background: linear-gradient(90deg, var(--color-principal), var(--color-acento));
}

.logo img,
.box figure img {
    width: 130px;
    height: auto;
    margin: 0px;
    mix-blend-mode: multiply;
}

.container-button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 20px 100px 0px 0px;
}

.container_static {
    display: grid;
    place-items: center;
    height: 100%;
    grid-template-rows: 0.2fr;
    justify-content: center;
    align-content: center;
}

.container_static h2 {
    text-align: center;
    text-transform: uppercase;
    padding: 8px;
    border-radius: 10px;
    font-size: 28px;
    letter-spacing: 2px;
}
.container-delete img {
    width: 50%;
    height: 90%;
    border: 1.5px solid var(--color-borde-suave);
    border-radius: 5%;
    padding: 0.25rem;
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.5s ease;
}

.team-member .member-info .description {
    display: -webkit-box;
    line-clamp: 3;           /* propiedad estándar */
    -webkit-line-clamp: 3;   /* propiedad con prefijo para WebKit */
    -webkit-box-orient: vertical;  
    overflow: hidden;
    text-overflow: ellipsis;
}

h1, .logo {
    font-family: 'Playfair Display', serif;
}

.title {
    font-size: 20px;             /* Tamaño de fuente */
    font-weight: bold;           /* Negrita */
    letter-spacing: 0.5px;       /* Poco espacio entre letras */
    text-transform: capitalize;  /* Primera letra en mayúscula */
}