{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/company.css' %}">
<link rel="stylesheet" href="{% static 'css/flower.css' %}">
{% endblock %}
{% block title %}Página Nosotros | Floristería{% endblock %}

{% block content %}
<h1>Página Nosotros</h1>
<div class='container-button'>
    <div class="wrapper">
        <button type="button" class="btn" onclick="location.href='{% url 'company_update' company.pk %}'">
            <span class="button__text">Modificar</span>
            <span class="button__icon"><i class="fa-solid fa-pen-to-square"></i></span>
        </button>
        {% include 'button.html' %}
    </div>
</div>
<div class='container_dinamic'>
    <div class='item_1'>
        <h3><strong>{{ company.name_company }}</strong></h3>
        <h3><strong>RUC:</strong> {{ company.ruc_company }}</h3>
        <h3><strong>Dirección:</strong> {{ company.address_company }}</h3>
        {% if company.imagen_company %}
            <img src="{{ company.imagen_company.url }}" alt="Imagen de la empresa" width="300">
        {% endif %}
        <h2><strong>Año de Fundación:</strong> {{ company.founding_company }}</h2>
    </div>
    <div class='item_2'>
        <h2><strong>Misión:</strong></h2>
        <div class='text'><p>{{ company.mission_company }}</p></div>
        <h2><strong>Visión:</strong></h2>
        <div class='text'><p>{{ company.vision_company }}</p></div>
    </div>
</div>
{% endblock %}