{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/company.css' %}">
<link rel="stylesheet" href="{% static 'css/flower.css' %}">
{% endblock %}
{% block title %}Página Nosotros | Floristería{% endblock %}

{% block content %}
<div class="container_static">
    <h2>No se ha ingresado información de la empresa</h2>
    <div class="wrapper">
        <button type="button" class="btn" onclick="location.href='{% url 'company_create' %}'">
            <span class="button__text">Agregar</span>
            <span class="button__icon"><i class="fa-solid fa-plus"></i></span>
        </button>
        {% include 'button.html' %}
    </div>
</div>
{% endblock %}
