{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/company.css' %}">
<link rel="stylesheet" href="{% static 'css/flower.css' %}">
{% endblock %}
{% block title %}Página Nosotros | Floristería{% endblock %}

{% block content %}
<h1>Página Nosotros</h1>
<main class='container_dinamic'>
    <div class='item_1'>
        <h3>{{ company.name_company }}</h3>
        <h3><strong>RUC:</strong> {{ company.ruc_company }}</h3>
        <h3><strong>Dirección:</strong> {{ company.address_company }}</h3>
        {% if company.imagen_company %}
            <img src="{{ company.imagen_company.url }}" alt="Imagen de la empresa" width="300">
        {% endif %}
        <p><strong>Año de Fundación:</strong> {{ company.founding_company }}</p>
    </div>
    <div class='item_2'>
        <button class="btn" onclick="location.href='{% url 'company_update' company.pk %}'">
            <div class="wrapper">
                <p class="text">Modificar</p>
                {% include 'button.html' %}
            </div>
        </button>
        <p><strong>Misión:</strong> {{ company.mission_company }}</p>
        <p><strong>Visión:</strong> {{ company.vision_company }}</p>
    </div>
</main>
{% endblock %}