{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
<link rel="stylesheet" href="{% static 'css/buttonD.css' %}">
<link rel="stylesheet" href="{% static 'css/flower.css' %}">
<link rel="stylesheet" href="{% static 'css/image.css' %}">
{% endblock %}
{% block title %}Página Nosotros | Floristería{% endblock %}

{% block content %}
<h1>{% if company.pk %}Modificar{% else %}Ingresar{% endif %} Datos de la Empresa</h1>
<div class='container-button'>
    <button type="button" class="button-delete" onclick="location.href='{% url 'company_list' %}'">
        <span class="button__text">Volver</span>
        <span class="button__icon"><i class="fa-solid fa-rotate-left"></i></span>
    </button>
    {% if company.pk %}
        <button type="button" class="button-delete" onclick="location.href='{% url 'company_delete' company.pk %}'">
            <span class="button__text">Eliminar</span>
            <span class="button__icon"><i class="fa-solid fa-trash"></i></span>
        </button>
    {% endif %}
</div>
<div class="form-container">
    <form class="image-upload-form" method="post" enctype="multipart/form-data" data-is-edit="{% if company.pk %}true{% else %}false{% endif %}">
        {% csrf_token %}
        <div class="form-wrapper">
            <div class="form-column">
                <div class="form-group">
                    <label for="name">Nombre de la Empresa</label>
                    <input type="text" id="name" name="name_company" pattern="^(?!\d+$).{3,100}$" maxlength="100" minlength="3" value="{{ company.name_company }}" placeholder="Ej: Borcelle" required="">
                </div>
                <div class="form-group">
                    <label for="address">Dirección</label>
                    <input type="text" id="address" name="address_company" pattern="^(?!\d+$).{5,150}$" maxlength="150" minlength="5" value="{{ company.address_company }}" placeholder="Ej: Av. Atahualpa OE1-109 y 10 de Agosto, Quito - Ecuador" required="">
                </div>
                <div class="form-group">
                    <label for="founding">Año de Fundación</label>
                    <input type="number" id="founding" name="founding_company" min="1800" max="2025" value="{{ company.founding_company }}" placeholder="Ej: 1998" required="">
                </div>
                <div class="form-group">
                    <label for="ruc">RUC</label>
                    <input type="text" id="ruc" name="ruc_company" pattern="\d{13}" maxlength="13" minlength="13" value="{{ company.ruc_company }}" placeholder="Ej: 1798285937001" required="" oninput="this.value = this.value.replace(/[^0-9]/g, '');">
                </div>
            </div>
            <div class="form-column">
                <div class="form-group">
                    <label for="textarea">Misión</label>
                    <textarea name="mission_company" id="mission" rows="10" cols="50" pattern="^(?!\d+$).{10,500}$" placeholder="Ej: En Barcelle, nuestra misión es crear y ofrecer experiencias inolvidables a través del arte floral. Nos dedicamos a diseñar arreglos únicos y de alta calidad que transmiten emociones, celebran momentos especiales y embellecen la vida cotidiana de nuestros clientes." required="">{{ company.mission_company }}</textarea>
                </div>
                <div class="form-group">
                    <label for="textarea">Visión</label>
                    <textarea name="vision_company" id="vision" rows="10" cols="50" pattern="^(?!\d+$).{10,500}$" placeholder="Ej: Ser reconocidos como la floristería líder en creatividad, calidad y servicio en la región, transformando cada flor en una experiencia única." required="">{{ company.vision_company }}</textarea>
                </div>
                <div class="form-group">
                    <label for="file">Imagen</label>
                    <div class="actions">
                        <label for="file" class="upload">
                            Elegir archivo
                            <input hidden type="file" id="file" name="imagen_company" accept="image/*" class="file-input">
                            <img class="preview" src="{% if company.pk %}{{ company.imagen_company.url }}{% endif %}" />
                        </label>
                    </div>
                    <div class="error-msg"></div>
                </div>
            </div>
        </div>
        <div class='form-actions'>
            <button class="btn" type="submit" id="guardar-btn">
                <div class="wrapper">
                    <p class="text">Guardar</p>
                    {% include 'button.html' %}
                </div>
            </button>
        </div>
    </form>
</div>
{% block extra_js %}<script src="{% static 'js/form.js' %}"></script>{% endblock %}
{% endblock %}