{% extends 'base.html' %}
{% load static %}

{% block extra_css %}<link rel="stylesheet" href="{% static 'css/company.css' %}">{% endblock %}
{% block title %}Página Nosotros | Floristería{% endblock %}

{% block content %}
<h1>Ingresar Datos de la Empresa</h1>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Guardar</button>
</form>

{% if company.pk %}
    <a href="{% url 'company_delete' company.pk %}">
        <button class="btn">
            <div class="wrapper">
                <p class="text">Eliminar</p>
                {% include 'button.html' %}
            </div>
        </button>
    </a>
{% endif %}
<a href="{% url 'company_list' %}">
    <button class="btn">
        <div class="wrapper">
            <p class="text">Volver</p>
            {% include 'button.html' %}
        </div>
    </button>
</a>
{% endblock %}