{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
<link rel="stylesheet" href="{% static 'css/flower.css' %}">
<link rel="stylesheet" href="{% static 'css/image.css' %}">
{% endblock %}
{% block title %}Página Productos | Floristería{% endblock %}

{% block content %}
<h1>{% if product.pk %}Modificar{% else %}Ingresar{% endif %} Datos del Producto</h1>
<div class='container-button'>
    <div class="wrapper">
        <button type="button" class="btn" onclick="location.href='{% url 'products_list' %}'">
            <span class="button__text">Volver</span>
            <span class="button__icon"><i class="fa-solid fa-rotate-left"></i></span>
        </button>
        {% include 'button.html' %}
    </div>
</div>
<div class="form-container">
    <form class="image-upload-form" method="post" enctype="multipart/form-data" data-is-edit="{% if product.pk %}true{% else %}false{% endif %}">
        {% csrf_token %}
        <div class="form-wrapper">
            <div class="form-column">
                <div class="form-group">
                    <label for="name">Nombre del Producto:</label>
                    <input type="text" id="name" name="name_products" pattern="^[^0-9]{3,100}$" maxlength="100" minlength="3" value="{{ product.name_products }}" placeholder="..." required="">
                </div>
                <div class="form-group">
                    <label for="price">Precio del Producto:</label>
                    <input type="number" id="price" name="price_products" value="{{ product.price_products }}" min="0" step="0.01" placeholder="..." required="">
                </div>
                <div class="form-group">
                    <label class="font-semibold text-sm text-gray-600 pb-1 block" for="iva">Iva del Producto:</label>
                    <select class="border rounded-lg px-3 py-2 mt-1 mb-5 text-sm w-full focus:border-blue-500 focus:ring-2 focus:ring-blue-500" id="iva_products" name="iva_products" required="">
                        <option value="">Seleccione...</option>
                        <option value="15" {% if product.iva_products == 15 %}selected{% endif %}>15%</option>
                        <option value="0" {% if product.iva_products == 0 %}selected{% endif %}>0%</option>
                    </select>
                    {% if form.iva_products.errors %}
                        <p class="text-red-600 text-sm">{{ form.iva_products.errors.0 }}</p>
                    {% endif %}
                </div>
            </div>
            <div class="form-column">
                <div class="form-group">
                    <label for="textarea">Descripción</label>
                    <textarea name="description_products" id="description_products" rows="10" cols="50" pattern="^(?!\d+$).{10,500}$" placeholder="..." required="">{{ product.description_products }}</textarea>
                </div>
                <div class="form-group">
                    <label for="file">Imagen</label>
                    <div class="actions">
                        <label for="file" class="upload">
                            Elegir archivo
                            <input hidden type="file" id="file" name="imagen_products" accept="image/*" class="file-input">
                            <img class="preview" src="{% if product.pk %}{{ product.imagen_products.url }}{% endif %}" />
                        </label>
                    </div>
                    <div class="error-msg"></div>
                </div>
            </div>
        </div>
        <div class='form-actions'>
            <div class="wrapper">
                <button type="submit" id="guardar-btn" class="btn">
                    <span class="button__text">Guardar</span>
                    <span class="button__icon"><i class="fa-solid fa-floppy-disk"></i></span>
                </button>
                {% include 'button.html' %}
            </div>
        </div>
    </form>
</div>
{% block extra_js %}<script src="{% static 'js/form.js' %}"></script>{% endblock %}
{% endblock %}