{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Floristería{% endblock %}</title>
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Great+Vibes&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        <div class="logo"><p>Borcelle</p><img src="{% static 'img/logo.png' %}" alt="Logo"></div>
        <div class="menu">
            <nav style="text-align: center; margin-bottom: 20px;">
                <a href="{% url 'home' %}">INICIO</a> |
                <a href="{% url 'company_list' %}">NOSOTROS</a> |
                <a href="{% url 'products_list' %}">PRODUCTOS</a> |
                <a href="{% url 'employee_list' %}">TRABAJADORES</a> |
                <a href="{% url 'supplier_list' %}">PROVEEDORES</a> 
            </nav>
        </div>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <div class="footer1">
            <div class="box">
                <figure>
                    <a href="{% url 'home' %}"><img src="{% static 'img/title.png' %}" alt="Logo"></a>
                </figure>
            </div>
            <div class="box">
                <h2><strong>SOBRE NOSOTROS</strong></h2>
                    <p>Borcelle</p>
            </div>       
            <div class="box">
                <h2><strong>SIGUENOS</strong></h2>
                <div class="red-social">
                    <a href="https://facebook.com" class="fa fa-facebook" target="_blank" rel="noopener noreferrer"></a>
                    <a href="https://instagram.com" class="fa fa-instagram" target="_blank" rel="noopener noreferrer"></a>
                    <a href="https://twitter.com" class="fa fa-twitter" target="_blank" rel="noopener noreferrer"></a>
                    <a href="https://youtube.com" class="fa fa-youtube" target="_blank" rel="noopener noreferrer"></a>
                </div>
            </div>
        </div>
        <div class="footer2">
            <small>&copy; 2025 <b>GRUPO 17</b> - Todos los derechos Reservados </small>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://kit.fontawesome.com/0acc46e8b4.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>
